I took these data file from [kaggle](https://www.kaggle.com/dgawlik/nyse/downloads/nyse.zip/3) to play around with fundamental and technical analysis. There are four (4) data sets to explore:

- `prices.csv`: raw, as-is daily prices. Most of the data spans from 2010 to the end of 2016. There have been approx. 140 stock splits in that time but this data set does not reflect that
- `prices-split-adjusted.csv`: same as `prices.csv` but adjustments for splits have been added
- `securities.csv`: general description of each company with division on sectors
- `fundamentals.csv`: metrics extracted from annual SEC 10K fillings (2012-2016); should be enough to derive most of the popular fundamental indicators

Some things to try out with the data:

- One day ahead prediction: Rolling Linear Regression, ARIMA, Neural Networks, LSTM
- Momentum/Mean-Reversion Strategies
- Security clustering, portfolio construction/hedging

Which company has the biggest chance of going bankrupt?
Which one is undervalued (how prices behaved afterwards) and what is the ROI?

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [33]:
path = "/Users/scottmaccarone/Desktop/Coding/my_fun_projects/nyse"

In [34]:
fundamentals = pd.read_csv(os.path.join(path, "fundamentals.csv"))

In [35]:
prices = pd.read_csv(os.path.join(path, "prices.csv"))

In [36]:
pr_spl_adj = pd.read_csv(os.path.join(path, "prices-split-adjusted.csv"))

In [37]:
securities = pd.read_csv(os.path.join(path, "securities.csv"))

In [38]:
fundamentals.shape

(1781, 79)

In [39]:
prices.shape

(851264, 7)

In [40]:
pr_spl_adj.shape

(851264, 7)

In [41]:
securities.shape

(505, 8)

In [42]:
# In case I end up joining all four dataframes, there would be a max of 101 columns
pd.options.display.max_columns = 101

# To ensure columns fit well, I'll adjust the max column length
pd.options.display.max_colwidth = 100

In [43]:
fundamentals.head(10)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,Common Stocks,Cost of Revenue,Current Ratio,Deferred Asset Charges,Deferred Liability Charges,Depreciation,Earnings Before Interest and Tax,Earnings Before Tax,Effect of Exchange Rate,Equity Earnings/Loss Unconsolidated Subsidiary,Fixed Assets,Goodwill,Gross Margin,Gross Profit,Income Tax,Intangible Assets,Interest Expense,Inventory,Investments,Liabilities,Long-Term Debt,Long-Term Investments,Minority Interest,Misc. Stocks,Net Borrowings,Net Cash Flow,Net Cash Flow-Operating,Net Cash Flows-Financing,Net Cash Flows-Investing,Net Income,Net Income Adjustments,Net Income Applicable to Common Shareholders,Net Income-Cont. Operations,Net Receivables,Non-Recurring Items,Operating Income,Operating Margin,Other Assets,Other Current Assets,Other Current Liabilities,Other Equity,Other Financing Activities,Other Investing Activities,Other Liabilities,Other Operating Activities,Other Operating Items,Pre-Tax Margin,Pre-Tax ROE,Profit Margin,Quick Ratio,Research and Development,Retained Earnings,Sale and Purchase of Stock,"Sales, General and Admin.",Short-Term Debt / Current Portion of Long-Term Debt,Short-Term Investments,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,1.330000e+09,0.0,1.270000e+08,1.049900e+10,78.0,0.000000e+00,2.230000e+08,1.001000e+09,-1.813000e+09,-2.445000e+09,0.0,0.0,1.340200e+10,0.000000e+00,58.0,1.435600e+10,-5.690000e+08,8.690000e+08,632000000.0,5.800000e+08,3.060000e+08,4.730000e+08,7.116000e+09,0.000000e+00,0.0,0.0,-1.020000e+09,1.970000e+08,1.285000e+09,4.830000e+08,-1.571000e+09,-1.876000e+09,2.050000e+09,-1.876000e+09,-4.084000e+09,1.124000e+09,3.860000e+08,1.480000e+08,1.0,2.167000e+09,6.260000e+08,4.524000e+09,-2.980000e+09,1.509000e+09,1.100000e+07,1.514700e+10,-1.410000e+08,8.450000e+08,10.0,31.0,8.0,72.0,0.000000e+00,-9.462000e+09,0.000000e+00,1.297700e+10,1.419000e+09,3.412000e+09,2.351000e+10,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,2.175000e+09,0.0,5.000000e+06,1.101900e+10,104.0,0.000000e+00,9.350000e+08,1.020000e+09,-1.324000e+09,-2.180000e+09,0.0,0.0,1.925900e+10,4.086000e+09,59.0,1.572400e+10,-3.460000e+08,2.311000e+09,856000000.0,1.012000e+09,-1.181000e+09,-2.350000e+08,1.535300e+10,0.000000e+00,0.0,0.0,2.208000e+09,6.600000e+08,6.750000e+08,3.799000e+09,-3.814000e+09,-1.834000e+09,1.873000e+09,-1.834000e+09,-4.489000e+09,1.560000e+09,5.590000e+08,1.399000e+09,5.0,2.299000e+09,1.465000e+09,7.385000e+09,-2.032000e+09,1.711000e+09,4.810000e+08,1.491500e+10,-5.600000e+07,8.530000e+08,8.0,80.0,7.0,96.0,0.000000e+00,-1.129600e+10,0.000000e+00,1.291300e+10,1.446000e+09,8.111000e+09,4.227800e+10,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,1.768000e+09,0.0,7.000000e+06,1.562000e+10,88.0,0.000000e+00,8.290000e+08,1.342000e+09,4.099000e+09,3.212000e+09,0.0,0.0,2.308400e+10,4.091000e+09,63.0,2.703000e+10,3.300000e+08,2.240000e+09,887000000.0,1.004000e+09,1.799000e+09,-1.026000e+09,1.604300e+10,0.000000e+00,0.0,0.0,1.700000e+08,-1.460000e+08,3.080000e+09,-3.150000e+08,-2.911000e+09,2.882000e+09,5.420000e+08,2.882000e+09,2.882000e+09,1.771000e+09,8.000000e+08,4.249000e+09,10.0,2.060000e+09,8.980000e+08,7.059000e+09,-4.559000e+09,8.170000e+08,6.010000e+08,1.092800e+10,-5.000000e+08,1.295000e+09,8.0,159.0,7.0,80.0,0.000000e+00,-8.562000e+09,-1.052000e+09,2.068600e+10,1.677000e+09,6.309000e+09,4.322500e+10,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,1.085000e+09,0.0,6.000000e+06,1.109600e+10,73.0,2.477000e+09,6.670000e+08,1.487000e+09,5.496000e+09,4.616000e+09,0.0,0.0,2.751000e+10,4.091000e+09,73.0,2.989400e+10,-2.994000e+09,2.249000e+09,880000000.0,8.630000e+08,4.430000e+08,-6.330000e+08,1.833000e+10,0.000000e+00,0.0,0.0,2.856000e+09,-6.040000e+08,6.249000e+09,-1.259000e+09,-5.594000e+09,7.610000e+09,-2.662000e+09,7.610000e+09,7.610000e+09,1.425000e+09,1.051000e+09,6.204000e+09,15.0,2.103000e+09,7.480000e+08,6.272000e+09,-4.732000e+09,9.600000e+07,1.140000e+08,1.017800e+10,9.500000e+07,1.364000e+09,11.0,82.0,19.0,67.0,0.000000e+00,-1.230000e+09,-3.846000e+09,2.127500e+10,2.231000e+09,5.864000e+09,4.841500e+10,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,5.981110e+08,-260298000.0,7.000000e+03,3.106967e+09,124.0,0.000000e+00,0.000000e+00,1.895440e+08,6.579150e+08,6.240740e+08,0.0,0.0,1.292547e+09,7.638900e+07,50.0,3.098036e+09,2.364040e+08,2.884500e+07,33841000.0,2.308609e+09,0.000000e+00,4.263230e+08,6.044610e+08,0.000000e+00,0.0,0.0,1.774450e+08,5.402100e+08,6.852810e+08,1.279070e+08,-2.729780e+08,3.876700e+08,2.331100e+07,3.876700e+08,3.876700e+08,2.298660e+08,0.000000e+00,6.573150e+08,11.0,3.183300e+07,4.761400e+07,1.495580e+08,2.667000e+06,-3.349900e+07,-1.796000e+06,2.390210e+08,8.213000e+06,0.000000e+00,10.0,52.0,6.0,34.0,0.000000e+00,7.149000e+08,-1.860000e+07,2.440721e+09,6.270000e+05,0.000000e+00,4.613814e+09,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
5,5,AAP,2013-12-28,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,1.112471e+09,-203513000.0,7.000000e+03,3.241668e+09,144.0,0.000000e+00,0.000000e+00,2.077950e+08,6.630160e+08,6.263980e+08,0.0,0.0,1.286034e+09,1.998350e+08,50.0,3.252146e+09,2.346400e+08,4.987200e+07,36618000.0,2.556557e+09,0.000000e+00,1.727150e+08,1.052668e+09,0.000000e+00,0.0,0.0,4.456790e+08,5.143600e+08,5.452500e+08,3.312170e+08,-3.621070e+08,3.917580e+08,-2.088000e+06,3.917580e+08,3.917580e+08,2.775950e+08,0.000000e+00,6.603180e+08,10.0,3.964900e+07,4.276100e+07,1.546300e+08,3.683000e+06,-2.720900e+07,-1.663500e+08,2.311160e+08,1.101100e+07,0.000000e+00,10.0,41.0,6.0,52.0,0.000000e+00,1.089112e+09,-7.718400e+07,2.591828e+09,9.160000e+05,0.000000e+00,5.564774e+09,3.989384e+09,2.764785e+09,1.516205e+09,4.048569e+09,5.564774e+09,6.493814e+09,-107890000.0,2013.0,5.36,7.308918e+07
6,6,AAP,2015-01-03,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,1.046710e+08,-227657000.0,7.000000e+03,5.390248e+09,130.0,0.000000e+00,4.463510e+08,2.846930e+08,8.548020e+08,7.813940e+08,-4465000.0,0.0,1.432030e+09,9.954260e+08,45.0,4.453613e+09,2.875690e+08,7.481250e+08,73408000.0,3.936955e+09,0.000000e+00,1.942230e+08,1.636311e+09,0.000000e+00,0.0,0.0,5.996190e+08,-1.007800e+09,7.089910e+08,5.759110e+08,-2.288237e+09,4.938250e+08,7.559800e+07,4.938250e+08,4.938250e+08,5.798250e+08,0.000000e+00,8.517100e+08,9.0,4.573700e+07,1.195890e+08,3.779600e+07,-1.233700e+07,-1.803900e+07,-2.059791e+09,2.223680e+08,-6.348200e+07,0.000000e+00,8.0,39.0,5.0,22.0,0.000000e+00,1.565341e+09,1.424000e+06,3.601903e+09,5.820000e+05,0.000000e+00,7.962358e+09,4.741040e+09,3.654416e+09,2.002912e+09,5.959446e+09,7.962358e+09,9.843861e+09,-113044000.0,2014.0,6.75,7.315926e+07
7,7,AAP,2016-01-02,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,9.078200e+07,-244096000.0,7.000000e+03,5.314246e+09,130.0,0.000000e+00,4.339250e+08,2.694760e+08,8.182960e+08,7.528880e+08,-4213000.0,0.0,1.434577e+09,9.894840e+08,45.0,4.422772e+09,2.794900e+08,6.871250e+08,65408000.0,4.174768e+09,0.000000e+00,1.746670e+08,1.213161e+09,0.000000e+00,0.0,0.0,-4.263220e+08,-1.388900e+07,6.896420e+08,-4.459520e+08,-2.533660e+08,4.733980e+08,3.025000e+07,4.733980e+08,4.733980e+08,5.977880e+08,0.000000e+00,8.257800e+08,8.0,8.263300e+07,7.740800e+07,3.979400e+07,-4.405900e+07,-1.349200e+07,-1.861900e+07,2.293540e+08,7.423000e+06,0.000000e+00,8.0,31.0,5.0,20.0,0.000000e+00,2.021077e+09,-1.491000e+06,3.596992e+09,5.980000e+05,0.000000e+00,8.134565e+09,4.940746e+09,3.797477e+09,2.460648e+09,5.673917e+09,8.134565e+09,9.737018e+09,-119709000.0,2015.0,6.45,7.339504e+07
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,1.425900e+10,-973000000.0,1.976400e+10,1.066060e+11,168.0,0.000000e+00,2.625000e+09,6.757000e+09,5.015500e+10,5.015500e+10,0.0,0.0,1.659700e+10,1.577000e+09,38.0,6.430400e+10,1.311800e+10,4.179000e+09,0.0,1.764000e+09,-2.404200e+10,8.320000e+09,1.696000e+10,1.062150e+11,0.0,0.0,1.689600e+10,3.513000e+09,5.366600e+10,-1.637900e+10,-3.377400e+10,3.703700e+10,3.394000e+09,3.703700e+10,3.703700e+10,2.409400e+10,0.000000e+00,4.899900e+10,29.0,5.146000e+09,6.882000e+09,7.435000e+09,-4.710000e+08,-1.082000e+09,-1.567000e+09,2.020800e+10,1.080000e+09,0.000000e+00,29.0,41.0,22.0,164.0,4.475000e+09,1.042560e+11,-2.233000e+10,1.083000e+10,0.000000e+00,2.628700e+10,2.070000e+11,7.328600e+10,4.365800e+10,1.235490e+11,8.345100e+10,2.070000e+11,1.709100e+11,0.0,2013.0,40.03,9.252311e+08
9,9,AAPL,2014-09-27,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,1.384400e+10,-76000000.0,2.331300e+10,1.122580e+11,108.0,0.000000e+00,3.031000e+09,7.946000e+09,5.348300e+10,5.348300e+10,0.0,0.0,2.062400e+10,4.616000e+09,39.0,7.053700e+10,1.397300e+10,4.142000e+09,0.0,2.111000e+09,-9.027000e+09,1.340800e+10,2.898700e+10,1.301620e+11,0.0,0.0,1.826600e+10,-4.150000e+08,5.971300e+10,-3.754900e+10,-2.257900e+10,3.951000e+10,5.210000e+09,3.951000e+10,3.951000e+10,3.153700e+10,0.000000e+00,5.250300e+10,29.0,3.764000e+09,9.806000e+09,8.491000e+09,1.082000e+09,-1.158000e+09,-3.981000e+09,2.482600e+10,1.670000e+08,0.000000e+00,29.0,48.0,22.0,105.0,6.041000e+09,8.715200e+10,-4.427000e+10,1.199300e+10,6.308000e+09,1.123300e+10,2.318390e+11,6.853100e+10,6.344800e+10,1.115470e+11,1.202920e+11,2.318390e+11,1.827950e+11,0.0,2014.0,6.49,6.087827e+09

In [44]:
prices.head(10)

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
5,2016-01-12 00:00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000.0
6,2016-01-13 00:00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600.0
7,2016-01-14 00:00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300.0
8,2016-01-15 00:00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700.0
9,2016-01-19 00:00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500.0

In [45]:
pr_spl_adj.head(10)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
5,2016-01-12,WLTW,115.510002,115.550003,114.500000,116.059998,1098000.0
6,2016-01-13,WLTW,116.459999,112.849998,112.589996,117.070000,949600.0
7,2016-01-14,WLTW,113.510002,114.379997,110.050003,115.029999,785300.0
8,2016-01-15,WLTW,113.330002,112.529999,111.919998,114.879997,1093700.0
9,2016-01-19,WLTW,113.660004,110.379997,109.870003,115.870003,1523500.0

In [46]:
securities.head(10)

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343
7,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449
8,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",NaN,874761
9,AET,Aetna Inc,reports,Health Care,Managed Health Care,"Hartford, Connecticut",1976-06-30,1122304

Some notes regarding cleaning and first impressions:

- The `fundamentals` data table contains a lot of scientific notation. I want to check the data types and see if I can convert back to just `float`
- `Date` information is in `YYYY-MM-DD` format (or maybe `YYYY-mm-dd` - I need to refresh my memory on this). The `prices` df includes time information as well, but it is unclear if the time is always `00:00:00`
-  The `CIK` column is the **Central Index Key** which is a **unique number** given to an organization by the SEC to identify that organizations filings in several online databases
- Is the `SEC filings` column useful?
- Remove the `Unnamed:0` column
- ALL tables have the ticker symbol, so joining these tables is possible

In [47]:
securities['SEC filings'].value_counts()

reports    505
Name: SEC filings, dtype: int64

In [48]:
securities.isnull().sum()

Ticker symbol                0
Security                     0
SEC filings                  0
GICS Sector                  0
GICS Sub Industry            0
Address of Headquarters      0
Date first added           198
CIK                          0
dtype: int64

The `securities` table has very useful information. The only column that seems to be rather useless is the `SEC filings` column where ALL entries/rows are `reports`. The `Date first added` column has a lot of missing/null data; however, I don't want to remove this column yet because this column can tell us how old a company is. My thought is that VERY OLD companies have a `Date first added` as `NaN`.

In [49]:
securities.drop(labels='SEC filings', axis=1, inplace=True)
securities.head()

,Ticker symbol,Security,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [53]:
prices['date'].value_counts(dropna=False).sort_index()

2010-01-04             466
2010-01-04 00:00:00      1
2010-01-05             467
2010-01-05 00:00:00      1
2010-01-06             467
2010-01-06 00:00:00      1
2010-01-07             467
2010-01-07 00:00:00      1
2010-01-08             467
2010-01-08 00:00:00      1
2010-01-11             467
2010-01-11 00:00:00      1
2010-01-12             467
2010-01-12 00:00:00      1
2010-01-13             467
2010-01-13 00:00:00      1
2010-01-14             467
2010-01-14 00:00:00      1
2010-01-15             467
2010-01-15 00:00:00      1
2010-01-19             467
2010-01-19 00:00:00      1
2010-01-20             467
2010-01-20 00:00:00      1
2010-01-21             467
2010-01-21 00:00:00      1
2010-01-22             467
2010-01-22 00:00:00      1
2010-01-25             467
2010-01-25 00:00:00      1
                      ...
2016-12-09             498
2016-12-09 00:00:00      3
2016-12-12             498
2016-12-12 00:00:00      3
2016-12-13             498
2016-12-13 00:00:00      3
2016-12-14             498
2016-12-14 00:00:00      3
2016-12-15             498
2016-12-15 00:00:00      3
2016-12-16             498
2016-12-16 00:00:00      3
2016-12-19             498
2016-12-19 00:00:00      3
2016-12-20             498
2016-12-20 00:00:00      3
2016-12-21             498
2016-12-21 00:00:00      3
2016-12-22             498
2016-12-22 00:00:00      3
2016-12-23             498
2016-12-23 00:00:00      3
2016-12-27             498
2016-12-27 00:00:00      3
2016-12-28             498
2016-12-28 00:00:00      3
2016-12-29             498
2016-12-29 00:00:00      3
2016-12-30             498
2016-12-30 00:00:00      3
Name: date, Length: 3524, dtype: int64

The `date` column for `prices` is odd, and seems to be inconsistent. Why the difference between `YYYY-MM-DD` and `YYYY-MM-DD HH:MM:SS`? I am thinking the `HH:MM:SS` components can be dropped.

In [54]:
prices['date'][0]

'2016-01-05 00:00:00'

In [55]:
type(prices['date'][0])

str

In [56]:
len(prices['date'][0])

19

The length of the strings include the white-space between `YYYY-MM-DD` and `HH:MM:SS`. I can use string selection to select and return on the first 10 characters. Can this be done with vectorized operations? Since I am working in pandas, I assume there is a way to do it. Once that is complete, I can convert the date column into a `datetime` object and make some time-series graphs.

I do wonder if there is a particular ticker symbol associated with the `HH:MM:SS` entries. One thought that comes to mind is to define a function that determines if a particular row in the pandas dataframe has `len(prices['date'][i])` (the entries are strings) greater than `10`. If so, print only the unique value. Then I can use the `df.apply()` method to vectorize this function.

In [70]:
def date_len(val):
    if len(prices['date'][val]) > 10:
        print(prices.iloc[val, :])

I can't seem to get the `prices.apply(date_len)` to work properly (I keep getting errors). My function could be defined incorrectly, or maybe I'm trying to apply the function incorrectly.

In [77]:
#unique_rows = []
#i=0
#while i <= prices.shape[0]:
#    if len(prices['date'][i]) > 10:
#        if prices['symbol'][i] not in unique_rows:
#            unique_rows.append(prices.iloc[i, :])
#    i += 1
#print(unique_rows)

In [85]:
unique_sym = prices[prices['date'].str.len() > 10]['symbol'].unique()
unique_sym

array(['WLTW', 'AIV', 'FTV'], dtype=object)

That was a lot easier than I was making it out to be! Let me check what these companies are:

In [88]:
type(unique_sym)

numpy.ndarray

I want to select rows from `securities` and `fundamentals` to better understand these three companies